%ic {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*='_icon-'] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-arrow-select:before {
	content: '\e900';
}
._icon-facebook:before {
	content: '\e901';
}
._icon-fork:before {
	content: '\e902';
}
._icon-G:before {
	content: '\e903';
}
._icon-instagram:before {
	content: '\e904';
}
._icon-play:before {
	content: '\e905';
}
._icon-quotes:before {
	content: '\e906';
}
._icon-spoon:before {
	content: '\e907';
}
._icon-twitter:before {
	content: '\e908';
}
._icon-user:before {
	content: '\e909';
}
